* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-image: url('https://lumiere-a.akamaihd.net/v1/images/og-generic_02031d2b.png?region=0%2C0%2C1200%2C1200');
  background-size: cover;
  background-position: top;
}

button, input, .character__block {
  display: block;
  outline: none;
  color: #fff;
  text-transform: uppercase;
  padding: 5px 10px;
  font-weight: bold;
  border: 2px solid yellow;
  background: transparent;
  margin-top: 10px;
  width: 150px;
  cursor: pointer;
}

li {
  display: block;
}

label {
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}


.container {
  margin-top: 20px;
}

.btn__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.characters__form {
  display: flex;
  flex-direction: column;
}

.character__block {
  border-radius: 25px;
  background: #000;
  padding: 20px;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 15px;
}

